
.highlight {
    background: #fff;
    @extend %vertical-rhythm;

    .c { color: #969896 } // Comment */
    .err { color: #8967bf; background-color: #e3d2d2 } // Error */
    .k { color: #c23271; font-weight: bold } // Keyword */
    .o { color: #a71d5d; font-weight: bold } // Operator */
    .l { color: #8967bf; font-weight: bold } // Operator */
    .cm { color: #969896; font-style: italic } // Comment.Multiline */
    .cp { color: #999999; font-weight: bold; font-style: italic } // Comment.Preproc */
    .c1 { color: #969896; font-style: italic } // Comment.Single */
    .cs { color: #969896; font-weight: bold; font-style: italic } // Comment.Special */
    .gd { color: #000000; background-color: #ffdddd } // Generic.Deleted */
    .ge { color: #000000; font-style: italic } // Generic.Emph */
    .gr { color: #8967bf } // Generic.Error */
    .gh { color: #8967bf } // Generic.Heading */
    .gi { color: #000000; background-color: #ddffdd } // Generic.Inserted */
    .go { color: #888888 } // Generic.Output */
    .gp { color: #555555 } // Generic.Prompt */
    .gs { font-weight: bold } // Generic.Strong */
    .gu { color: #aaaaaa } // Generic.Subheading */
    .gt { color: #8967bf } // Generic.Traceback */
    .kc { color: #000000; font-weight: bold } // Keyword.Constant */
    .kd { color: #000000; font-weight: bold } // Keyword.Declaration */
    .kn { color: #000000; font-weight: bold } // Keyword.Namespace */
    .kp { color: #000000; font-weight: bold } // Keyword.Pseudo */
    .kr { color: #000000; font-weight: bold } // Keyword.Reserved */
    .kt { color: #445588; font-weight: bold } // Keyword.Type */
    .m { color: #009999 } // Literal.Number */
    .nv { color: #000 } /* Name.Variable */
    .nf { color: #17a8e9 } /* Name.Function */
    .s { color: #d01040 } // Literal.String */
    .na { color: #008080 } // Name.Attribute */
    .nb { color: #0086B3 } // Name.Builtin */
    .nc { color: #8967bf; font-weight: bold } // Name.Class */
    .no { color: #008080 } // Name.Constant */
    .nd { color: #3c5d5d; font-weight: bold } // Name.Decorator */
    .ni { color: #8967bf } // Name.Entity */
    .ne { color: #990000; font-weight: bold } // Name.Exception */
    .nf { color: #990000; font-weight: bold } // Name.Function */
    .nl { color: #990000; font-weight: bold } // Name.Label */
    .nn { color: #555555 } // Name.Namespace */
    .nt { color: #000080 } // Name.Tag */
    .nv { color: #008080 } // Name.Variable */
    .ow { color: #000000; font-weight: bold } // Operator.Word */
    .w { color: #bbbbbb } // Text.Whitespace */
    .mf { color: #1fb3ee } // Literal.Number.Float */
    .mh { color: #1fb3ee } // Literal.Number.Hex */
    .mi { color: #1fb3ee } // Literal.Number.Integer */
    .mo { color: #1fb3ee } // Literal.Number.Oct */
    .sb { color: #d01040 } // Literal.String.Backtick */
    .sc { color: #d01040 } // Literal.String.Char */
    .sd { color: #d01040 } // Literal.String.Doc */
    .s2 { color: #d01040 } // Literal.String.Double */
    .se { color: #d01040 } // Literal.String.Escape */
    .sh { color: #d01040 } // Literal.String.Heredoc */
    .si { color: #d01040 } // Literal.String.Interpol */
    .sx { color: #d01040 } // Literal.String.Other */
    .sr { color: #8967bf } // Literal.String.Regex */
    .s1 { color: #d01040 } // Literal.String.Single */
    .ss { color: #8967bf } // Literal.String.Symbol */
    .bp { color: #999999 } // Name.Builtin.Pseudo */
    .vc { color: #8967bf } // Name.Variable.Class */
    .vg { color: #8967bf } // Name.Variable.Global */
    .vi { color: #8967bf } // Name.Variable.Instance */
    .il { color: #009999 } // Literal.Number.Integer.Long */
}
